.garage .button {
  @apply border border-gray-900 py-2  px-4 gap-3 flex items-center rounded-lg font-medium uppercase w-fit;
}
.garage .button svg {
  @apply size-5;
}

.garage input[type="text"] {
  @apply w-full block;
}

.garage_list::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 5px;
  background-color: rgb(40, 177, 40);
  top: 0;
  left: calc(100% - 120px);
}

@keyframes driveAnimation {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 120px);
  }
}

.car {
  position: absolute;
  left: 0;
  top: 30px;
  transition: left 0.5s;
}

.driving {
  animation: driveAnimation linear forwards;
}
